%div.show-inner
  %div.show-inner__title-box
    %h1.show-inner__title-box__title= @article.title
  %div.show-inner__SNS-box
    %div.show-inner__SNS-box__fav-count
      %div.show-inner__SNS-box__fav-count__size= @fav_count.length
      - if @yet.exists?
        %input.show-inner__SNS-box__fav-count__button{type: "submit", value: "お気に入り済み"}
      - else
        %input.show-inner__SNS-box__fav-count__button{type: "submit", value: "お気に入り"}
      - @yet.each do |yet|
        %input.show-inner__SNS-box__fav-count__already{type: "hidden", value: yet.id}

  %div.show-inner__info-space
    %div.show-inner__info-space__box
      %i.fa.fa-calendar
      %div.show-inner__info-box__date= @article.created_at.strftime('%Y年%m月%d日')
    %div.show-inner__info-space__box
      %i.fa.fa-eye
      %div.show-inner__info-box__view 50
    %div.show-inner__info-space__box
      %i.fa.fa-star-o
      %div.show-inner__info-box__fav 0fav
  %img.show-inner__image{src: @article.thumbnail }
  != @article.text
  %div.show-inner__keywords
    %p.show-inner__keywords__title
      %strong この記事の関連キーワード
    - @tags.each do |tag|
      %p= tag
