%div.mypage-left
  %div.mypage-left__cover

  - if @user.id === current_user.id
    %ul.mypage-left__menues
      %div.mypage-left__menues__following
        %p.mypage-left__menues__following__num= @followings.length
        %p.mypage-left__menues__following__text フォロー
        / - @followings.each do |following|
        /   %p= following.followed.name
      %div.mypage-left__menues__followed
        %p.mypage-left__menues__followed__num= @followers.length
        %p.mypage-left__menues__followed__text フォロワー
        / - @followers.each do |follower|
        /   %p= follower.follower.name
      %input.user-id{type:'hidden', value: current_user.id}
      %li.mypage-left__menues__following-article フォロー記事
      = link_to mypages_favorite_path do
        %li お気に入り記事
      = link_to edit_user_registration_path do
        %li プロフィール設定
      = link_to '/users', method: :delete do
        %p.mypage-left__menues__delete-button >アカウントを削除する
  - else
    - if @confirm.exists?
      = form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete }) do |f|
        = f.submit "フォロー解除", class: "btn"
    - else
      = form_for(current_user.active_relationships.build) do |f|
        %div= hidden_field_tag :followed_id, @user.id
        = f.submit "フォロー", class: "btn btn-primary"


%div.mypage-user-info
  - if @user.id === current_user.id
    %p あなたが書いた記事
  - else
    %p= @user.name + "さんが書いた記事"
  - @articles.each do |article|
    %div.article
      = link_to note_path(article.id) do
        %img.article__image{src: article.thumbnail }
      %div.article__texts
        = link_to note_path(article.id) do
          %p.article__texts__title= article.title
        %div.article__texts__detail
          != article.text
        %p.article__texts__user-name
        %p.article__texts__date= article.created_at.strftime('%Y年%m月%d日 %H時%M分')